<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Вход / Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div id="login-container">
        <h2>Вход / Регистрация</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post" action="/login">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required />

            <div class="btn-group">
                <button type="submit" name="action" value="register">Новый пользователь</button>
                <button type="submit" name="action" value="login">Войти</button>
            </div>
        </form>
    </div>
    <div id="flash-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>
